<h1>Talks</h1>

<% @talks.each do |talk| %>
  <h2><%= link_to(talk.title, talk.video_url) %> - <%= talk.speaker %></h2>
  <p><%= talk.description %></p>
  <div>Duration: <%= talk.minutes %> mins</div>
  <div>Date added: <%= talk.created_at %></div>
<% end %>