<h1><%= @speaker.name %></h1>
<p>About: <%= @speaker.about %></p>
<ul>
  <li>Twitter: <%= link_to("@#{@speaker.twitter}", "http://www.twitter.com/#{@speaker.twitter}") %></li>
  <li>Github: <%= @speaker.github %></li>
  <li>Slides: <%= @speaker.slides_url %></li>
  <li>Website: <%= @speaker.website_url %></li>
  <li>Company: <%= @speaker.company_name %> <%= @speaker.company_url %></li>
</ul>