<!DOCTYPE html>
<html>
<head>
  <title>Talks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    SomeName
  </header>
  <nav>
    <ul>
      <li><%= link_to("Talks", "/talks") %></li>
      <li><%= link_to("Speakers", "/speakers") %></li>
    </ul>
  </nav>
  <main>
  <%= yield %>
  </main>
  <footer>
    <p>Selected Front-end talks - learn from the best in the industry.</p>
  </footer>
</div>


</body>
</html>
