<!DOCTYPE html>
<html>
<head>
  <title>Talks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav>
    <ul>
      <li><%= link_to("Talks", "/talks") %></li>
      <li><%= link_to("Speakers", "/speakers") %></li>
    </ul>
  </nav>
  <main>
  <%= yield %>
  </main>
</div>


</body>
</html>
